@import '../../main.less';

@lighter-color: lighten(@background-color, 50%);

.form {
    display: flex;
    gap: 5px;
    padding-bottom: 20px;
}

.input {
    background-color: lighten(@background-color, 20%);
    border: 1px solid @lighter-color;
    padding: 6px 12px;
    color: @text-color;
    font-size: @font-size;

    &:focus-visible {
        outline: none;
        border: 1px solid @text-color;
    }

    &::placeholder {
        color:  @lighter-color;
        opacity: 0.5;
    }
}

.button {
    cursor: pointer;
    font-size: @font-size;
    border: 1px solid @accent-color;
    background-color: @accent-color;
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: darken(@accent-color, 30%);
        color: white;
    }
}