@background-color: #2f3237;
@text-color: #d6d6d6;
@font-size: 18px;
@accent-color: #cf8837;

body {
    background-color: @background-color;
    color: @text-color;
    font-size: @font-size;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: @accent-color;
    text-decoration: none;
    
    &:hover {
        color: darken(@text-color, 20%);
    }
}